.App {
  text-align: center;
  background-color: dodgerblue;
}

h1 {
  padding:10px;
}

.container {
  width: 40%;
  margin: auto;

}

.form-container {
  width:40%;
  margin: auto;
  padding: 10px;
}

.cardheader {
  background-color: midnightblue;
  border-radius: 20px;
  color: white;
  font-size: large;
}